@media (min-width: 500px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 2rem;
    }

    .line {
        width: 3rem;
    }



}

@media (min-width: 768px) {
    h1 { font-size: 4rem; }

    h2 { font-size: 3.6rem;}

    h3 {
        font-size: 3rem;
    }

    #toggle-box {
        display: none;
    }



    .navigation {
        display: flex;
    }

    .menu {
        display: flex;
        list-style: none;
    }

    .menu-item {
        text-decoration: none;
        font-size: 1.5rem;
        margin-left: 1rem;
        color: var(--secondary-color);
    }

    .menu-item:hover {
        color: var(--tertiary-color);
    }

    .li {
        transition: 1s;
    }

    .line {
        width: 4rem;
    }

    .profile {
        width: 20rem;
    }


}


@media (min-width: 1200px) {
    h1 { font-size: 8rem; }

    h2 { font-size: 6rem;}

    h3 {
        font-size: 5rem;
    }

    p {
        font-size: 2rem;
    }

    .line {
        width: 6rem;
    }

    .profile {
        width: 25rem;
    }

    .home-socials {
        display: none;
    }

    #work {
        margin-bottom: 4rem;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: 1rem;
    }
}

@media (min-width: 2000px) {
    h1 { font-size: 12rem; }

    h2 { font-size: 10rem;}

    h3 {
        font-size: 9rem;
    }

    header {
        height: 8rem;
    }

    .logo {
        height: 6rem;
    }

    .menu-item {
         font-size: 3rem;
    }

    main {
        margin-top: 8rem;
    }

    .profile {
        width: 35rem;
    }

    footer {
        height: 8rem;
    }

    .social-icon {
        font-size: 4rem;
        margin: 2rem;
    }

}