.skill {
    width: 60%;
}
.skill-list {
    list-style: none;
}

.skill-list li {
    margin: 1rem 0;
    padding: .6rem;
}

.bar {
    background-color: var(--primary-color);
    display: block;
    height: 20px;
    border: 1px solid var(--primary-color);
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    transition: all 300ms cubic-bezier(.25,.8,.25,1);
}

.bar span {
    height: 20px;
    float: left;
    background-color: var(--tertiary-color);
    transition: 500ms;
}

.bar span:hover {
    background-color: #d40311;
}

.html {
    width: 70%;
    animation: html 3s;
}
.css {
    width: 65%;
    animation: css 3s;
}
.javascript {
    width: 45%;
    animation: javascript 3s;
}
.heavy-metal {
    width: 100%;
    animation: heavy-metal 3s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}
@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}
@keyframes heavy-metal {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}