* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#upper-section {
    padding: 0 1rem;
}

#lower-section {
    margin-top: 25%;
    overflow: hidden;    /* display: none; */
}

/* Element styling */

body {
    background-color: red;
    

}



header {
    position: fixed;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 2.2rem;
    background-color: black;
    color: white;
    align-items: center;
    transition: height 200ms;
    overflow-y: hidden;
}

.open {
    height: 100vh;
}



#navigation {
    width: 100vw;
    display: none;
}


#navigation ul {
    list-style: none;
    font-size: 1.5rem;
}

#navigation li {
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.menu-icons {
    font-size: 1.5rem;
    transition: 300ms;
}

.menu-icons:hover {
    font-size: 2.2rem;
    transition-timing-function: linear;
}

#burger-menu {
    font-size: 2.2rem;
    /* display: none; */
}

#dropdown-menu {
    list-style: none;
}

.dropdown-menu-icons {
    font-size: 4rem;
}

/* Reusable classes */

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.white-text {
    color: white;
}

.display-block {
    display: flex;
}

/* Tablet */
@media (min-width: 500px) {
    #burger-menu {
        display: none;
    }

    #lower-section {
        display: none;
    }

    #navigation {
        display: inline;
    }
    
}

/* Desktop */
@media (min-width: 800px) {
    #burger-menu {
        display: none;
    }

    #lower-section {
        display: none;
    }
    
}