:root {
    --primary-color: black;
    --secondary-color: white;
    --tertiary-color: red;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--secondary-color);
}

header {
    position: fixed;
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 4rem;
}

main {
    margin-top: 4rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
    margin: 4rem 0 1rem 0;
}

p {
    font-size: 2rem;
}

#menu-button {
    color: var(--secondary-color);
    font-size: 2rem;
    display: block;
    cursor: pointer;
    transition: 500ms;
}

#menu-button.hide {
    display: none;
}

#close-button {
    color: var(--secondary-color);
    font-size: 2rem;
    cursor: pointer;
    display: none;
    transition: 500ms;
}

#close-button.show {
    display: block;
}

.logo {
    height: 3rem;
}

.navbar {
    position: absolute;
    height: 0;
    top: 4rem;
    left: 0;
    width: 100vw;
    background-color: var(--primary-color);
    transition: 400ms;
    overflow: hidden;
}

.navbar.open {
    height: 100vh;
}



.menu {
    list-style: none;
    text-align: center;
    margin-top: 4rem;
}

.menu-item {
    color: var(--secondary-color);
    font-size: 3rem;
    text-decoration: none;
    transition: 200ms;
}

.menu-item:hover {
    color: var(--tertiary-color);
}

.menu-item.active {
    color: var(--tertiary-color);
}

.flex { display: flex; }
.row { flex-direction: row; }
.align-center { align-items: center;}
.justify-center { justify-content: center;}
.justify-between { justify-content: space-between;}
.p0 { padding: 0;}
.m05 { margin: .5rem;}
.mt4 { margin-top: 4rem;}
.primary-bg { background-color: var(--primary-color);}
.secondary-bg { background-color: var(--secondary-color);}
.primary-text { color: var(--primary-color);}
.secondary-text { color: var(--secondary-color)}


@media (min-width: 500px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 2rem;
    }

}

@media (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.6rem;
    }

    h3 {
        font-size: 3rem;
    }

}